@import "../../_styles/variables.scss";

.PrimaryTracks {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: $container-width;
  .section-header {
    color: $accent;
    margin: 0;
  }
}
