.SupportPage {
  position: fixed;
  // border-radius: 15px 15px 0 0;
  background: rgb(37, 37, 37);
  color: white;
  width: 85.1vw;
  margin: 0 auto;
  transition: 0.4s transform ease-in-out;
  .CardControls {
    position: relative;
    height: 8vh;
    // border: 1px solid green;
    .show-bio-btn {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .ArtistBio {
    margin: 0 auto;
    height: 30vh;
    width: 98%;
    header {
      text-align: center;
    }
  }
}
