@import "../../_styles/variables.scss";

.AudioPlayer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8vh;
  width: 90vw;
  .song-info {
    display: flex;
    img {
      position: absolute;
      left: -10.05vw;
      bottom: 0vh;
    }
  }
  .button-panel {
    border-left: 1px solid $lines;
    border-right: 1px solid $lines;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100px;
  }
  .artist-album-info {
    padding: 0.2rem 0 0 0.5rem;
  }
  h4,
  p {
    margin: 0;
  }
  img {
    border-top: 1px solid $lines;
    border-right: 1px solid $lines;
    width: 10vw;
  }
}
