.AudioPlayer {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 8vh;
  // border: 1px dashed red;
  .song-info {
    display: flex;
    // border: 1px solid orange;
  }
  .button-panel {
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .artist-album-info {
    // border: 1px solid red;
    padding-left: 0.5rem;
    // width: 100%;
  }
  h4,
  p {
    margin: 0;
  }
  i {
    // margin: 0 50px;
  }
  img {
    height: 8vh;
  }
}
