@import "../../_styles/variables.scss";

.TuneBox {
  display: flex;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  border: 1px solid $lines;
  transition: 0.1s border ease-in-out;
  &:hover {
    border: 1px solid white;
  }
  .card-title {
    position: absolute;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding-left: 5px;
    background-color: $primary-dark-color;
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
    i {
      cursor: pointer;
      padding: 1rem;
    }
  }
}
