@import "../../_styles/variables.scss";

.TrackCard {
  display: flex;
  margin-top: 0.5rem;
  border: 1px solid $lines;
  width: 100%;
  max-width: 40vw;
  height: 70px;
  background-color: $primary-dark-color;
  color: $text-primary;
  transition: 0.8s box-shadow ease-in, 0.09s border ease-in;
  &:hover {
    cursor: pointer;
    border: 1px solid white;
    color: white;
    // box-shadow: 1px 1px 5px $primary-dark-color;
  }
  .track-info {
    padding-left: 0.3rem;
    vertical-align: center;
    width: 80%;
    font-size: 13px;
  }
  .genres {
    display: flex;
  }
  .song-name {
    padding: 0 0.15rem;
    font-size: 12px;
  }
  .genre-type {
    font-size: 10px;
    padding: 0 0.15rem;
  }

  i {
    align-self: center;
    cursor: pointer;
    padding: 1rem;
    &:hover {
      color: white;
    }
  }
  img {
    height: 70px;
    width: 70px;
  }
  audio {
    background-color: black;
  }
  h2,
  p {
    margin: 0;
  }
}
