@import "../../_styles/variables.scss";

.Header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid $accent;
  background-color: $accent;
  box-shadow: 1px 1px 15px 10px $primary-dark-color;
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $container-width;
    align-self: center;
  }
  .btn {
    border: 1px solid $secondary-dark-color;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    background-color: $secondary-dark-color;
    transition: 0.07s border ease-out;
    &:hover {
      border: 1px solid $text-primary;
    }
  }
  .register {
    margin-right: 1rem;
  }

  h2 {
    margin: 0;
    height: 80%;
    font-family: "Caesar Dressing";
    color: $text-primary;
    font-size: 38px;
    margin: 1vw 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: $container-width;
  }
  button {
    background: none;
    border: none;
    color: $text-primary;
    font-size: 13px;
    padding-bottom: 0.5rem;
    &:hover {
      cursor: pointer;
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
}
